<!-- <body class="bg-gradient-to-r w-screen h-screen from-gray-900 via-gray-600 to-gray-900">
     <div class="max-w-lg mx-auto rounded-sm bg-gray-200 p-4">
          <app-expense-form></app-expense-form>
          <app-expense-summary></app-expense-summary>
          <app-expense-list></app-expense-list>
     </div>
</body> -->

<body class="bg-gradient-to-r w-screen h-screen from-gray-900 via-gray-600 to-gray-900 flex items-center ">
     <div class="max-w-lg w-full mx-auto rounded-sm bg-gray-200 p-4 shadow-lg">
          <app-expense-form></app-expense-form>
          <app-expense-summary></app-expense-summary>
          <app-expense-list></app-expense-list>
     </div>
</body>